{% extends 'index.html' %}
{% block content %}  


<div class="wrapper">
    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                        {{ message }}
                        </div>
                    {% endfor %}
                    {% endif %}
    {% endwith %}
    <div class="logoLogin">
        <img src="{{ url_for('static', filename='assets/img/greenLogo.png')}}" width="30" alt="witrackLogo">
    </div>
    <div class="text-center mt-4 name">
        <a href="{{ url_for('Home') }}">Witrack</a>
        
    </div>
    <form class="p-3 mt-3" action="{{ url_for('login') }}" method="post">
        {{ form.hidden_tag() }} 
        <div class="form-field d-flex align-items-center">
            {% if form.username.errors %}
                {{ form.username(class="form-control is-invalid" ,type="text"  ,id="userName" ,placeholder="Username" ) }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
            {% else %}
                            {{ form.username(class="form-control " ,type="text"  ,id="userName" ,placeholder="Username" ) }}
            {% endif %}
            
        </div>
        <div class="form-field d-flex align-items-center">
            {% if form.password.errors %}
                {{ form.password(class="form-control is-invalid" ,type="password"  ,id="pwd" ,placeholder="Password" ) }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
            {% else %}
                            {{ form.password(class="form-control " ,type="password"  ,id="pwd", placeholder="Password") }}
            {% endif %}
        </div>
        <button class="btn mt-3">Login</button>
    </form>
    <div class="text-center fs-6">
        <a href="#">Forget password?</a> or <a href="#">Sign up</a>
    </div>
</div>
{% endblock %}