{% extends 'index.html' %}
{% block content %}  
  
 
  <section class="section-a">
    <div>
      {% with messages = get_flashed_messages(with_categories=true) %}
                      {% if messages %}
                      {% for category, message in messages %}
                          <div class="alert alert-{{ category }}">
                          {{ message }}
                          </div>
                      {% endfor %}
                      {% endif %}
    {% endwith %}
    </div>
    <div class="container">
      <div>
        <h1>SMS DZ.</h1>
        <p>
          un accompagnement plus qu'un service ! une satisfaction plus qu'une consolation !
        </p>
      </div>
      <img class="img-fluid" src={{ url_for('static', filename="assets/img/smsDzPhotos/smsDz1.png")}}  alt="" />
    </div>
  </section>

  <section class="section-d">
    <div class="container">
      <div>
        <h1>Intégration via API</h1>
        <p>
          Les APIs de SMS-DZ sont publiques et vous permettent
          d'intégrer nos outils aux vôtres rapidement et en toute autonomie.
          Pour répondre à vos besoins spécifiques.</p>
          <ul>
            <li>ajouter des services SMS à votre environnement,
              ERP et CRM </li>
              <br>
            <li>générer des messages automatiques,
              de réaliser des campagnes ou de réceptionner des SMS </li>
          </ul>
          <!-- Vous souhaitez ajouter des services SMS à votre environnement,
          ERP et CRM ? Vous avez besoin de générer des messages automatiques,
          de réaliser des campagnes ou de réceptionner des SMS ?  -->
        <p>  
          SMS-DZ restful API est là pour ça!
          preprarer et enregistrer un nombre elimiter de contact directement sur SMS-DZ pour une reutilisation facile
        </p>
      </div>
      <img src={{ url_for('static', filename="assets/img/smsDzPhotos/smsDz3.png")}}  height = 550 alt="" />
    </div>
  </section>

  <!-- Large Text -->
  <section id="about" class="section-b">
    <div class="overlay">
      <div class="section-b-inner py-5">
        <h2 class="text-5 mt-1">SMS PRO</h2>
        <p class="mt-1">
          INTERFACE WEB POUR VOS COMPAGNES MARKETING
          EXPÉDITEURS ALPHABÉTIQUES
          APIs REST POUR INTÉGRATIONS SYSTÈMES
          JUSQU'À 180 000 SMS / HEURE        </p>
      </div>
    </div>
  </section>
  <!-- ======= Footer ======= -->


  <section class="section-d">
    <div class="container">
      <div>
        <h1>Envoi des SMS en masse (Bulk)</h1>
        <p>
          Capacité d'envoi élevée (milliers d'SMS en une heure, centaine de millier par
          jour) Envoi vers une Liste large de destinatairesEnvoi d'un messages multiples 
          (nom, solde, date de payement…) Signature alphanumérique ( nom de la société ou numéro
          court *) Définir une heure d'expiration.Planifiez l'envoi des SMS pour une date ultérieure.
        </p>
      </div>
      <img src={{ url_for('static', filename="assets/img/smsDzPhotos/apiSmsDz.png")}}  width = 550 alt="" />
    </div>
  </section>

  <section class="section-c">
    <div class="container">
      <img src={{ url_for('static', filename="assets/img/smsDzPhotos/apiSmsDz.png")}}  height = 550 alt="" />
      <div>
        <h1>Intégration via API</h1>
        <p>
          Les APIs de SMS-DZ sont publiques et vous permettent
          d'intégrer nos outils aux vôtres rapidement et en toute autonomie.
          Pour répondre à vos besoins spécifiques.
        </p>
      </div>
    </div>
  </section>
{%endblock%}