<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title> WITRACK </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href= {{ url_for('static', filename="assets/img/greenLogo.png")}} rel="icon">
  <link href={{ url_for('static', filename="assets/img/greenLogo.png")}} rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href={{ url_for('static', filename="assets/vendor/aos/aos.css")}} rel="stylesheet">
  <link href={{ url_for('static', filename="assets/vendor/bootstrap/css/bootstrap.min.css")}} rel="stylesheet">
  <link href={{ url_for('static', filename="assets/vendor/bootstrap-icons/bootstrap-icons.css")}} rel="stylesheet">
  <link href={{ url_for('static', filename="assets/vendor/boxicons/css/boxicons.min.css")}} rel="stylesheet">
  <link href={{ url_for('static', filename="assets/vendor/glightbox/css/glightbox.min.css")}} rel="stylesheet">
  <link href={{ url_for('static', filename="assets/vendor/remixicon/remixicon.css")}} rel="stylesheet">
  <link href={{ url_for('static', filename="assets/vendor/swiper/swiper-bundle.min.css")}} rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href={{ url_for('static', filename="assets/css/style.css" )}} rel="stylesheet">

  <!-- =======================================================
  * Template Name: WITRACK
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/WITRACK-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href={{ url_for('Home' )}}> <img src={{ url_for('static',filename = "assets/img/whiteLogo.png" )}} alt=""> Witrack</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Accueil</a></li>
          <li><a class="nav-link scrollto" href="#about">A propos</a></li>
          <li class="dropdown"><a href="#portfolio"><span>Solutions</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              
              <li class="dropdown"><a href="#"><span>Witrack Solutions</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Witrack Maintenance</a></li>
                  <li><a href="#">Witrack troubleeticket</a></li>
                  <li><a href="#">Witrack sitesurveil</a></li>
                  <li><a href="#">Witrack inventory</a></li>
                </ul>
              </li>
              <li><a href="#">SMS DZ</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>

          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->



    </div>
  </header><!-- End Header -->

  <section class="section-a">
    <div class="container">
      <div>
        <h1>Witrack Plateforme.</h1>
        <p>
          Witrack le moyen SMART de votre Work Force Management.
        </p>
      </div>
      <img class="img-fluid" src={{ url_for('static', filename="assets/img/witrackphoto/witrackmainphoto.svg")}}  alt="" />
    </div>
  </section>

  <section class="section-d">
    <div class="container">
      <div>
        <h1>Witrack Plateforme.</h1>
        <p>
          Witrack le moyen SMART de votre Work Force Management.
          Une Solution Web et Mobile qui vous permet de gérez vos tâches, équipes sur terrain, techniciens, force de vente, livraison, logistique, projets…
          Une plateforme Personnalisable et configurable à 80%, permet de digitaliser différents processus métiers des entreprises
          Un Outil d’exécution Digital qui donne une Vue Globale et en Temps Réel sur les taches planifiées, exécutées, ainsi que les actifs.
          
        </p>
      </div>
      <img src={{ url_for('static', filename="assets/img/witrackphoto/witrackportfolio.png")}} alt="" />
    </div>
  </section>

  <!-- Large Text -->
  <section id="about" class="section-b">
    <div class="overlay">
      <div class="section-b-inner py-5">
        <h2 class="text-5 mt-1">Une seule version de la vérité est nécessaire</h2>
        <p class="mt-1">
          Éliminer les Rapports manquants, minimiser les détails oubliés et les mauvaises interprétations
        </p>
      </div>
    </div>
  </section>
  <!-- ======= Footer ======= -->


  <section class="section-d">
    <div class="container">
      <div>
        <h1>Witrack Plateforme.</h1>
        <p>
          Witrack le moyen SMART de votre Work Force Management.
          Une Solution Web et Mobile qui vous permet de gérez vos tâches, équipes sur terrain, techniciens, force de vente, livraison, logistique, projets…
          Une plateforme Personnalisable et configurable à 80%, permet de digitaliser différents processus métiers des entreprises
          Un Outil d’exécution Digital qui donne une Vue Globale et en Temps Réel sur les taches planifiées, exécutées, ainsi que les actifs.
          
        </p>
      </div>
      <img src={{ url_for('static', filename="assets/img/witrackphoto/witrackportfolio.png")}} alt="" />
    </div>
  </section>

  <section class="section-c">
    <div class="container">
      <img src={{ url_for('static', filename="assets/img/witrackphoto/witrackportfolio2.png")}} alt="" />
      <div>
        <h1>Gestion des Opérations</h1>
        <p>
          Une vue holistique de toutes les
          opérations
          Centralisez vos informations en un seul
          endroit
          Attribuez facilement des tâches aux
          membres de l'équipe
          Mises à jour en temps réel:
          L'application Mobile Agent se synchronise
          avec la base de données en temps réel, offrant à
          chacun une source unique d’information fiable.
          Suivi des tâches  sur terrain et au bureau,
          permettre aux équipes de travailler ensemble de
          manière fluide transparente
        </p>
      </div>
    </div>
  </section>

  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Rejoignez notre newsletter</h4>
            <p>Que pensez-vous de WITRACK?</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="S'abonner">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-contact">
            <h3>WITRACK</h3>
            <p>
              Cyber parc sidi abdellah rahmania<br>
              Alger, 16000<br>
              Algerie <br><br>
              <strong>Phone:</strong> +213-771-006-184<br>
              <strong>Email:</strong> contact@netfersmartsolutions.dz<br>
            </p>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>



          <div class="col-lg-4 col-md-6 footer-links">
            <h4> Social Networks</h4>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>WITRACK</span></strong>. All Rights Reserved
      </div>

    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src={{ url_for('static', filename="assets/vendor/aos/aos.js")}}></script>
  <script src={{ url_for('static', filename="assets/vendor/bootstrap/js/bootstrap.bundle.min.js")}}></script>
  <script src={{ url_for('static', filename="assets/vendor/glightbox/js/glightbox.min.js")}}></script>
  <script src={{ url_for('static', filename="assets/vendor/isotope-layout/isotope.pkgd.min.js")}}></script>
  <script src={{ url_for('static', filename="assets/vendor/swiper/swiper-bundle.min.js")}}></script>
  <script src={{ url_for('static', filename="assets/vendor/waypoints/noframework.waypoints.js")}}></script>
  <script src={{ url_for('static', filename="assets/vendor/php-email-form/validate.js")}}></script>

  <!-- Template Main JS File -->
  <script src={{ url_for('static', filename="assets/js/main.js")}}></script>

</body>

</html>