{% extends 'index.html' %}
{% block content %}  
  <section class="section-a">
    <div class="container">
      <div>
        <h1>Witrack Plateforme.</h1>
        <p>
          Witrack le moyen SMART de votre Work Force Management.
        </p>
      </div>
      <img class="img-fluid" src={{ url_for('static', filename="assets/img/witrackphoto/witrackmainphoto.svg")}}  alt="" />
    </div>
  </section>

  <section class="section-d">
    <div class="container">
      <div>
        <h1>Witrack Plateforme.</h1>
        <p>
          Witrack le moyen SMART de votre Work Force Management.
          Une Solution Web et Mobile qui vous permet de gérez vos tâches, équipes sur terrain, techniciens, force de vente, livraison, logistique, projets…
          Une plateforme Personnalisable et configurable à 80%, permet de digitaliser différents processus métiers des entreprises
          Un Outil d’exécution Digital qui donne une Vue Globale et en Temps Réel sur les taches planifiées, exécutées, ainsi que les actifs.
          
        </p>
      </div>
      <img src={{ url_for('static', filename="assets/img/witrackphoto/witrackportfolio.png")}} alt="" />
    </div>
  </section>

  <!-- Large Text -->
  <section id="about" class="section-b">
    <div class="overlay">
      <div class="section-b-inner py-5">
        <h2 class="text-5 mt-1">Une seule version de la vérité est nécessaire</h2>
        <p class="mt-1">
          Éliminer les Rapports manquants, minimiser les détails oubliés et les mauvaises interprétations
        </p>
      </div>
    </div>
  </section>
  <!-- ======= Footer ======= -->


  <section class="section-d">
    <div class="container">
      <div>
        <h1>Witrack Plateforme.</h1>
        <p>
          Witrack le moyen SMART de votre Work Force Management.
          Une Solution Web et Mobile qui vous permet de gérez vos tâches, équipes sur terrain, techniciens, force de vente, livraison, logistique, projets…
          Une plateforme Personnalisable et configurable à 80%, permet de digitaliser différents processus métiers des entreprises
          Un Outil d’exécution Digital qui donne une Vue Globale et en Temps Réel sur les taches planifiées, exécutées, ainsi que les actifs.
          
        </p>
      </div>
      <img src={{ url_for('static', filename="assets/img/witrackphoto/witrackportfolio.png")}} alt="" />
    </div>
  </section>

  <section class="section-c">
    <div class="container">
      <img src={{ url_for('static', filename="assets/img/witrackphoto/witrackportfolio2.png")}} alt="" />
      <div>
        <h1>Gestion des Opérations</h1>
        <p>
          Une vue holistique de toutes les
          opérations
          Centralisez vos informations en un seul
          endroit
          Attribuez facilement des tâches aux
          membres de l'équipe
          Mises à jour en temps réel:
          L'application Mobile Agent se synchronise
          avec la base de données en temps réel, offrant à
          chacun une source unique d’information fiable.
          Suivi des tâches  sur terrain et au bureau,
          permettre aux équipes de travailler ensemble de
          manière fluide transparente
        </p>
      </div>
    </div>
  </section>
{% endblock %}}